body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 0.8em;
    line-height: normal;
    min-height: 100%;
    color: #2b2b2b;
    overflow-y: scroll;
}
.simple__navbar {
    margin-top:20px;
    background: #ffffff;
    border-radius: 0px;
    box-shadow: 0px -1px 4px -2px #000000;
}
.normal__font_size {
    font-size: 14px;
}
.circle {
	width: 15px;
	height: 15px;
    background: white;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
}
.square {
	width: 25px;
	height: 25px;
    background: white;
    margin-top: 15px;
    margin-left: 10px;
    display: inline-block;
    padding: 5px;
    border: double 3px #000000;
}
.square:hover {
    border: solid 1px orange;
}
.colors__text {
    display:inline-block;
    border: 1px solid #000;
}

.bold__price {
    font-weight: bold;
}
.middle__params_block {
    margin-top: 30px;
}
.middle__params {
    font-size: 14px;
}

.custom__panel {
    border-radius: 0px;
    margin: 0px;
}

.object__image {
    height:400px;
    width:400px;
}
.object__thumbnail {
    height:50px;
    width:50px;
    margin: 5px;
    padding: 5px;

}
.object__thumbnail:hover {
    border: solid 1px orange;
}
.category__image {
    height:200px;
    width:200px;
}

.top__title {
    font-family: 'YS Text',sans-serif;
    font-size: 20px;
}